###################################################
# Complete PHPSTAN configuration for Travis CI
###################################################
parameters:
    treatPhpDocTypesAsCertain: false
